<div class="button-wrapper valign-wrapper center-align">
    <div class="row">
        <div class="col s12 offset-6">
            <a class="btn btn-floating btn-large cyan pulse new-houseparty-btn" href="/new-houseparty"><i class="material-icons">album</i></a>
            <br>
            <br>
            <h5>New Houseparty</h5>
        </div>
    </div>
</div>